

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80vh;
    /* background-color: #f0f0f0; */
    background: #2B3337;
    color: #fff;
    max-width: 800px;
    margin: 5em auto;
    padding: 2em;
    border-left: .7em  solid #FF01FF;

}
.message a{
    color: #FF01FF;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: .5em;
    font-size: 1.5em;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1em ;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    /* background: #2B3337; */
    border-bottom: 1px solid #506671;
    color: black;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border: 2px solid #FF01FF;
    outline: none;
}
button {
    padding: 10px;
    background-color: #FF01FF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;

}
button:hover {
    background-color: #530253;
}
.form-container h1 {
    color: #FF01FF;
    font-weight: bold;
    font-size: 2rem;
}
        